<div>
    <h6>Comparison Chart - Single company over different periods of time</h6><br><!--
    <form [formGroup]="chartsForm" (ngSubmit) = "onClickSubmit(chartsForm)">
      <div >
        <label for="name">Company Name</label>
        <input type="text" id="name" formControlName="name">
      </div>
      <div >
        <label for="startDate">Start Date</label>
        <input type="date" id="startDate" formControlName="startDate">
      </div>
      <div >
        <label for="endDate">End Date</label>
        <input type="date" id="endDate" formControlName="endDate">
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  <br>
  <button type="button" (click)="exportToExcel()">Export To Excel</button>
  <br>
  <div>
    <div >
      Average Data : {{avgData}}<br>
      Minimum Data : {{minData}}<br>
      Maximum Data : {{maxData}}<br>
    </div>
    <canvas
        baseChart
        [chartType]="'bar'"
        [datasets]="chartData"
        [labels]="labels"
        [options]="chartOptions"
        [legend]="true"
        [colors]="colors">
    </canvas> -->
  </div>